<div class="container">
  <div class="row">
    <%= button_to "Log Out", destroy_trainer_session_path, method: :delete, :class => 'btn sharp logout pull-right', role: 'presentation'%>
    <ol class="breadcrumb col-sm-10">
      <li class="homeBtn"><a href="/game/index" class="active">Home</a></li>
      <li class="">Pokemon</li>
      <li class="">Brewery</li>
      <li class="">Ready Up</li>
      <li class="">Battle</li>
    </ol>
  </div>
  <div class="row">
    <h1 class="tagline text-center"> Gotta Chug 'em All!</h1>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="">
      <a href="/game/loadout" type="submit" class="btn sharp btn-primary ready-screen-btn col-md-1"><h2>Proceed to Battle Staging</h2></a>
    </div>
    <br />
    <div class="">
      <a href="/pokemon/index" type="submit" class="btn sharp btn-primary pokemon-selection-btn col-md-1"><h2>Pick Your 'Mon</h2></a>
    </div>
    <br />
    <div class="col-sm-12">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title poke-panel-title"></h3>
        </div>
        <div class="panel-body">
          <ul class="pokemonLoadout">
          </ul>
          <ul class="attacks-ul">
          </ul>
        </div>
      </div>
      <button type="submit" class="btn sharp btn-primary display-current-btn col-md-1"><p>View Current 'Mon</p>
    </div>

  </div>
</div>
