<div class="container">
  <div class="row">
    <%= button_to "Log Out", destroy_trainer_session_path, method: :delete, :class => 'btn sharp logout pull-right', role: 'presentation'%>
    <ol class="breadcrumb sharp col-sm-10">
      <li class="homeBtn"><a href="/game/index">Home</a></li>
      <li><a href="/pokemon/index" class="newBtn active">Pokemon</a></li>
      <li><a href="/brewery/index" class="active">Brewery</a></li>
      <li><a href="#" class="active">Ready Up</a></li>
      <li class="">Battle</li>
    </ol>
  </div>
  <div class="row">
    <div class="progress sharp">Readiness
      <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%">
        <span class="sr-only">80% Complete (success)</span>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="">
      <a href="/game/battle" type="submit" class="btn sharp battle-btn col-md-1"><h2 class="battle-head">Battle!</h2></a>
    </div>
  </div>
</div>
