<div class="container">
  <div class="row">
    <%= button_to "Log Out", destroy_trainer_session_path, method: :delete, :class => 'btn sharp logout pull-right', role: 'presentation'%>
    <ol class="breadcrumb sharp col-sm-10">
      <li class="homeBtn"><a href="/game/index">Home</a></li>
      <li><a href="/pokemon/index" class="active newBtn">Pokemon</a></li>
      <li>Brewery</li>
      <li class="">Ready Up</li>
      <li class="">Battle</li>
    </ol>
  </div>
  <div class="row">
    <div class="progress">Readiness!
      <div class="progress-bar sharp progress-bar-success" role="progressbar" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100" style="width: 10%">
      </div>
    </div>
  </div>
</div>

<div class="container main-body">
  <h1 class="tagline text-center"> Gotta Chug 'em All!</h1>
  <div class="row">
    <input type="text" class="form-control sharp search-bar col-sm-3" autocomplete="off" id="pkmnSearch" placeholder="Enter a Pokemon..."></input>
    <button type="submit" class="btn sharp btn-default pkmn-search-btn col-md-1">Search</button>
  </div>
  <br />
  <div class="pokeLoadout">
    <div class="panel panel-default poke-panel">
      <div class="panel-heading poke-panel-heading">
        <h3 class="panel-title poke-panel-title"></h3>
      </div>
      <div class="panel-body">
        <ul class="poke-ul">
        </ul>
      </div>
    </div>
    <a href="/brewery/index"><button type="submit" class="btn sharp btn-default poke-continue-btn col-md-1">Continue</button></a>
  </div>
</div>
<br />
<!-- <div class="container">
  <div class="row">
    <div class="list-group pokemon-list col-xs-3">
      <button type="button" class="list-group-item pokemon Bulbasaur">Bulbasaur</button>
      <button type="button" class="list-group-item pokemon Ivysaur">Ivysaur</button>
      <button type="button" class="list-group-item pokemon Venusaur">Venusaur</button>
      <button type="button" class="list-group-item pokemon Charmander">Charmander</button>
      <button type="button" class="list-group-item pokemon Charmeleon">Charmeleon</button>
      <button type="button" class="list-group-item pokemon Charizard">Charizard</button>
      <button type="button" class="list-group-item pokemon Squirtle">Squirtle</button>
      <button type="button" class="list-group-item pokemon Wartortle">Wartortle</button>
      <button type="button" class="list-group-item pokemon Blastoise">Blastoise</button>
      <button type="button" class="list-group-item pokemon Caterpie">Caterpie</button>
      <button type="button" class="list-group-item pokemon Metapod">Metapod</button>
      <button type="button" class="list-group-item pokemon Butterfree">Butterfree</button>
      <button type="button" class="list-group-item pokemon Weedle">Weedle</button>
      <button type="button" class="list-group-item pokemon Kakuna">Kakuna</button>
      <button type="button" class="list-group-item pokemon Beedrill">Beedrill</button>
      <button type="button" class="list-group-item pokemon Pidgey">Pidgey</button>
      <button type="button" class="list-group-item pokemon Pidgeotto">Pidgeotto</button>
      <button type="button" class="list-group-item pokemon Pidgeot">Pidgeot</button>
      <button type="button" class="list-group-item pokemon Rattata">Rattata</button>
      <button type="button" class="list-group-item pokemon Raticate">Raticate</button>
      <button type="button" class="list-group-item pokemon Spearow">Spearow</button>
      <button type="button" class="list-group-item pokemon Fearow">Fearow</button>
      <button type="button" class="list-group-item pokemon Ekans">Ekans</button>
      <button type="button" class="list-group-item pokemon Arbok">Arbok</button>
      <button type="button" class="list-group-item pokemon Pikachu">Pikachu</button>
      <button type="button" class="list-group-item pokemon Raichu">Raichu</button>
      <button type="button" class="list-group-item pokemon Sandshrew">Sandshrew</button>
      <button type="button" class="list-group-item pokemon Sandslash">Sandslash</button>
      <button type="button" class="list-group-item pokemon Nidoran♀">Nidoran♀</button>
      <button type="button" class="list-group-item pokemon Nidorina">Nidorina</button>
      <button type="button" class="list-group-item pokemon Nidoqueen">Nidoqueen</button>
      <button type="button" class="list-group-item pokemon Nidoran♂">Nidoran♂</button>
      <button type="button" class="list-group-item pokemon Nidorino">Nidorino</button>
      <button type="button" class="list-group-item pokemon Nidoking">Nidoking</button>
      <button type="button" class="list-group-item pokemon Clefairy">Clefairy</button>
      <button type="button" class="list-group-item pokemon Clefable">Clefable</button>
      <button type="button" class="list-group-item pokemon Vulpix">Vulpix</button>
      <button type="button" class="list-group-item pokemon Ninetales">Ninetales</button>
      <button type="button" class="list-group-item pokemon Jigglypuff">Jigglypuff</button>
      <button type="button" class="list-group-item pokemon Wigglytuff">Wigglytuff</button>
      <button type="button" class="list-group-item pokemon Zubat">Zubat</button>
      <button type="button" class="list-group-item pokemon Golbat">Golbat</button>
      <button type="button" class="list-group-item pokemon Oddish">Oddish</button>
      <button type="button" class="list-group-item pokemon Gloom">Gloom</button>
      <button type="button" class="list-group-item pokemon Vileplume">Vileplume</button>
      <button type="button" class="list-group-item pokemon Paras">Paras</button>
      <button type="button" class="list-group-item pokemon Parasect">Parasect</button>
      <button type="button" class="list-group-item pokemon Venonat">Venonat</button>
      <button type="button" class="list-group-item pokemon Venomoth">Venomoth</button>
      <button type="button" class="list-group-item pokemon Diglett">Diglett</button>

    </div>
    <div class="list-group pokemon-list col-xs-3">
      <button type="button" class="list-group-item pokemon Dugtrio">Dugtrio</button>
      <button type="button" class="list-group-item pokemon Meowth">Meowth</button>
      <button type="button" class="list-group-item pokemon Persian">Persian</button>
      <button type="button" class="list-group-item pokemon Psyduck">Psyduck</button>
      <button type="button" class="list-group-item pokemon Golduck">Golduck</button>
      <button type="button" class="list-group-item pokemon Mankey">Mankey</button>
      <button type="button" class="list-group-item pokemon Primeape">Primeape</button>
      <button type="button" class="list-group-item pokemon Growlithe">Growlithe</button>
      <button type="button" class="list-group-item pokemon Arcanine">Arcanine</button>
      <button type="button" class="list-group-item pokemon Poliwag">Poliwag</button>
      <button type="button" class="list-group-item pokemon Poliwhirl">Poliwhirl</button>
      <button type="button" class="list-group-item pokemon Poliwrath">Poliwrath</button>
      <button type="button" class="list-group-item pokemon Abra">Abra</button>
      <button type="button" class="list-group-item pokemon Kadabra">Kadabra</button>
      <button type="button" class="list-group-item pokemon Alakazam">Alakazam</button>
      <button type="button" class="list-group-item pokemon Machop">Machop</button>
      <button type="button" class="list-group-item pokemon Machoke">Machoke</button>
      <button type="button" class="list-group-item pokemon Machamp">Machamp</button>
      <button type="button" class="list-group-item pokemon Bellsprout">Bellsprout</button>
      <button type="button" class="list-group-item pokemon Weepinbell">Weepinbell</button>
      <button type="button" class="list-group-item pokemon Victreebel">Victreebel</button>
      <button type="button" class="list-group-item pokemon Tentacool">Tentacool</button>
      <button type="button" class="list-group-item pokemon Tentacruel">Tentacruel</button>
      <button type="button" class="list-group-item pokemon Geodude">Geodude</button>
      <button type="button" class="list-group-item pokemon Graveler">Graveler</button>
      <button type="button" class="list-group-item pokemon Golem">Golem</button>
      <button type="button" class="list-group-item pokemon Ponyta">Ponyta</button>
      <button type="button" class="list-group-item pokemon Rapidash">Rapidash</button>
      <button type="button" class="list-group-item pokemon Slowpoke">Slowpoke</button>
      <button type="button" class="list-group-item pokemon Slowbro">Slowbro</button>
      <button type="button" class="list-group-item pokemon Magnemite">Magnemite</button>
      <button type="button" class="list-group-item pokemon Magneton">Magneton</button>
      <button type="button" class="list-group-item pokemon Farfetch'd">Farfetch'd</button>
      <button type="button" class="list-group-item pokemon Doduo">Doduo</button>
      <button type="button" class="list-group-item pokemon Dodrio">Dodrio</button>
      <button type="button" class="list-group-item pokemon Seel">Seel</button>
      <button type="button" class="list-group-item pokemon Dewgong">Dewgong</button>
      <button type="button" class="list-group-item pokemon Grimer">Grimer</button>
      <button type="button" class="list-group-item pokemon Muk">Muk</button>
      <button type="button" class="list-group-item pokemon Shellder">Shellder</button>
      <button type="button" class="list-group-item pokemon Cloyster">Cloyster</button>
      <button type="button" class="list-group-item pokemon Gastly">Gastly</button>
      <button type="button" class="list-group-item pokemon Haunter">Haunter</button>
      <button type="button" class="list-group-item pokemon Gengar">Gengar</button>
      <button type="button" class="list-group-item pokemon Onix">Onix</button>
      <button type="button" class="list-group-item pokemon Drowzee">Drowzee</button>
      <button type="button" class="list-group-item pokemon Hypno">Hypno</button>
      <button type="button" class="list-group-item pokemon Krabby">Krabby</button>
      <button type="button" class="list-group-item pokemon Kingler">Kingler</button>
      <button type="button" class="list-group-item pokemon Voltorb">Voltorb</button>
    </div>
    <div class="list-group pokemon-list col-xs-3">
      <button type="button" class="list-group-item pokemon Electrode">Electrode</button>
      <button type="button" class="list-group-item pokemon Exeggcute">Exeggcute</button>
      <button type="button" class="list-group-item pokemon Exeggutor">Exeggutor</button>
      <button type="button" class="list-group-item pokemon Cubone">Cubone</button>
      <button type="button" class="list-group-item pokemon Marowak">Marowak</button>
      <button type="button" class="list-group-item pokemon Hitmonlee">Hitmonlee</button>
      <button type="button" class="list-group-item pokemon Hitmonchan">Hitmonchan</button>
      <button type="button" class="list-group-item pokemon Lickitung">Lickitung</button>
      <button type="button" class="list-group-item pokemon Koffing">Koffing</button>
      <button type="button" class="list-group-item pokemon Weezing">Weezing</button>
      <button type="button" class="list-group-item pokemon Rhyhorn">Rhyhorn</button>
      <button type="button" class="list-group-item pokemon Rhydon">Rhydon</button>
      <button type="button" class="list-group-item pokemon Chansey">Chansey</button>
      <button type="button" class="list-group-item pokemon Tangela">Tangela</button>
      <button type="button" class="list-group-item pokemon Kangaskhan">Kangaskhan</button>
      <button type="button" class="list-group-item pokemon Horsea">Horsea</button>
      <button type="button" class="list-group-item pokemon Seadra">Seadra</button>
      <button type="button" class="list-group-item pokemon Goldeen">Goldeen</button>
      <button type="button" class="list-group-item pokemon Seaking">Seaking</button>
      <button type="button" class="list-group-item pokemon Staryu">Staryu</button>
      <button type="button" class="list-group-item pokemon Starmie">Starmie</button>
      <button type="button" class="list-group-item pokemon Mr. Mime">Mr. Mime</button>
      <button type="button" class="list-group-item pokemon Scyther">Scyther</button>
      <button type="button" class="list-group-item pokemon Jynx">Jynx</button>
      <button type="button" class="list-group-item pokemon Electabuzz">Electabuzz</button>
      <button type="button" class="list-group-item pokemon Magmar">Magmar</button>
      <button type="button" class="list-group-item pokemon Pinsir">Pinsir</button>
      <button type="button" class="list-group-item pokemon Tauros">Tauros</button>
      <button type="button" class="list-group-item pokemon Magikarp">Magikarp</button>
      <button type="button" class="list-group-item pokemon Gyarados">Gyarados</button>
      <button type="button" class="list-group-item pokemon Lapras">Lapras</button>
      <button type="button" class="list-group-item pokemon Ditto">Ditto</button>
      <button type="button" class="list-group-item pokemon Eevee">Eevee</button>
      <button type="button" class="list-group-item pokemon Vaporeon">Vaporeon</button>
      <button type="button" class="list-group-item pokemon Jolteon">Jolteon</button>
      <button type="button" class="list-group-item pokemon Flareon">Flareon</button>
      <button type="button" class="list-group-item pokemon Porygon">Porygon</button>
      <button type="button" class="list-group-item pokemon Omanyte">Omanyte</button>
      <button type="button" class="list-group-item pokemon Omastar">Omastar</button>
      <button type="button" class="list-group-item pokemon Kabuto">Kabuto</button>
      <button type="button" class="list-group-item pokemon Kabutops">Kabutops</button>
      <button type="button" class="list-group-item pokemon Aerodactyl">Aerodactyl</button>
      <button type="button" class="list-group-item pokemon Snorlax">Snorlax</button>
      <button type="button" class="list-group-item pokemon Articuno">Articuno</button>
      <button type="button" class="list-group-item pokemon Zapdos">Zapdos</button>
      <button type="button" class="list-group-item pokemon Moltres">Moltres</button>
      <button type="button" class="list-group-item pokemon Dratini">Dratini</button>
      <button type="button" class="list-group-item pokemon Dragonair">Dragonair</button>
      <button type="button" class="list-group-item pokemon Dragonite">Dragonite</button>
      <button type="button" class="list-group-item pokemon Mewtwo">Mewtwo</button>
      <button type="button" class="list-group-item pokemon Mew">Mew</button>
    </div>
  </div>
</div> -->
