<div class="container">
  <div class="row">
    <%= button_to "Log Out", destroy_trainer_session_path, method: :delete, :class => 'btn sharp logout pull-right', role: 'presentation'%>
    <ol class="breadcrumb col-sm-10">
      <li class="homeBtn"><a href="/game/index">Home</a></li>
      <li><a href="/pokemon/index" class="active">Pokemon</a></li>
      <li>Brewery</li>
      <li class="">Ready Up</li>
      <li class="">Battle</li>
    </ol>
  </div>
  <div class="row">
    <div class="progress">Readiness
      <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%">
        <span class="sr-only">60% Complete (success)</span>
      </div>
    </div>
  </div>
</div>

<div class="container main-body">
  <div class="row">
    <input type="text" class="form-control sharp search-bar col-sm-3" autocomplete="off" id="brewerySearch" placeholder="Enter a Brewery..."></input>
    <button type="submit" class="btn sharp btn-default brewery-search-btn col-md-1">Submit</button>
  </div>
  <br />
  <div class="beerLoadout">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title breweryName"></h3>
      </div>
      <div class="panel-body">
        <ul class="beerNames">
        </ul>
      </div>
    </div>
  </div>
</div>
