body {
  font-family: 'Khula', sans-serif;
  background-image: url('light-blue-background.png');
  background-size: cover;
}

.pokemon-list {
  min-width: 25%;
  max-width: 25%;
}

#pkmnSearch, #brewerySearch {
}

.display-current-btn {
}

.search-bars {
  text-align: center;
}

.poke-continue-btn, .brew-continue-btn {
  background-color: rgba(53, 199, 136, 0.5);
}


.pkmn-search-btn, .brewery-search-btn {
  background-color: rgba(0, 64, 144, .5);
}

.battle-head {
  color: black;
}

.battle-btn {
  padding: 35px 50px;
  width: 50%;
  background-color: rgba(164, 28, 40, 1);
}

.pokemon-selection-btn {
  width: 50%;
  background-color: white;
  color: black;
}

.ready-screen-btn {
  background-color: red;
  color: black;
  width: 50%;
}


.text-center, .battle-board-container {
  text-align: center;
}


.countdown:before {
    content: '321';
    font-family:monospace;
    display:inline-block;
    width:1ch;
    overflow:hidden;

    animation:countdowns 3s steps(3) 1;
}

@keyframes countdowns {
    0% {text-indent:0}
    100% {text-indent:-3ch;}
}

.pulsate {
  font-size: 51px;
    /*-webkit-animation: pulsate 3s ease-out;*/
    -webkit-animation: pulsate 2.9s linear;
    -webkit-animation-iteration-count: 1;
    opacity: 1;
    text-align: center;
}
@-webkit-keyframes pulsate {
    0% {
        font-size: 10px;
        opacity: 0.10;
    }
    /*25% {
        font-size: 10px;
        opacity: 0.25;
    }*/
    50% {
        font-size: 30px;
        opacity: 0.5;
    }
    /*75% {
        font-size: 40px;
        opacity: 0.75;
    }*/
    100% {
        font-size: 50px;
        opacity: 1.0;
    }
}

.sharp {
  border-radius:0;
}

.btn {
  padding: 7px 9px;
  border: 0 none;
  font-weight: 700;
  letter-spacing: 0.5px;
  text-transform: uppercase;
}

.btn:focus, .btn:active:focus, .btn.active:focus {
  outline: 0 none;
}

.btn-primary {
  background: #0099cc;
  color: #ffffff;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open > .dropdown-toggle.btn-primary {
  background: #33a6cc;
}

.btn-primary:active, .btn-primary.active {
  background: #007299;
  box-shadow: none;
}


.modal {
  display:    none;
  position:   fixed;
  z-index:    1000;
  top:        0;
  left:       0;
  height:     100%;
  width:      100%;
  background: rgba( 255, 255, 255, .8 )
              url('loader.gif')
              50% 50%
              no-repeat;
}

/* When the body has the loading class, we turn
   the scrollbar off with overflow:hidden */
body.loading {
  overflow: hidden;
}

/* Anytime the body has the loading class, our
   modal element will be visible */
body.loading .modal {
  display: block;
}

.pic {
  background-image: url('playfield.png');
  height: 100vh;
  background-repeat: no-repeat;
  position: absolute;
  left: 52.45%;
  top: 30%;
  transform: translateX(-50%);
  z-index: 0;
}

.mew, .enemySprite {
  background-image: url('mew.png');
  background-repeat: no-repeat;
  top: 37vh;
  position: absolute;
  right: 27%;
  height: 50px;
  width: 50px;
  z-index: 1;
}

.userMonPic {
  background: url();
  background-repeat: no-repeat;
  top: 30vh;
  position: absolute;
  left: 22%;
  height: 50px;
  width: 50px;
  z-index: 1;

}
